h1{
    background-color: darkgray; /*tausta värv*/
    color: black; /*teksti värv*/
}
header, footer{
    font-family: Georgia;
    font-size: large;
    width: 60%;
    border: 5px dotted grey; /*dashed, dotted, double, outline*/
    background-color: darkgray;
    border-radius: 120px;
    padding:1%; /*vahe teksti ja piiri vahel*/
}
nav ul{
    footer{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    list-style-type: none;
    text-align: center; /*teksti joondamine keskel*/
    margin: 0;
    padding: 0;
    background-color: gray;
}
nav li{
    display: inline;
    float: left;
    padding: 2%;
}
main{
    margin: 50px;
    padding: 1%;
}
nav a:hover{/*link fookuses*/
    background-color: darkgray;
}
nav li a{
    font-family: Georgia;
    font-size: xx-large;
    text-decoration: none;
    border-bottom: gray 1px solid;
    border-radius: 5px;
}
/*section*/
section#kontakt1{
    /*display: inline-block; muudab paigutust*/
    width: 20%;
    border-right: 1pt solid gray;
    border-bottom: 1pt solid gray;
    border-radius: 20px;
    padding: 2%;
    margin-top: 50px;
}
section#kontakt1 h3{
    text-align: center;
    background-color: darkgray;
    border-radius: 100px;
    font-weight: bold;
    font-variant: small-caps;
}
/*section*/
section#kontakt2{
    width: 20%;
    border-right: 1pt dotted gray;
    border-bottom: 1pt dotted gray;
    border-radius: 20px;
    padding: 2%;
    margin-top: 50px;
}
section#kontakt2 h3{
    text-align: center;
    background-color: darkgray;
    border-radius: 100px;
    font-weight: bold;
    font-variant: small-caps;
}
/*section*/
section#kontakt3{
    width: 20%;
    border-right: 1pt dashed gray;
    border-bottom: 1pt dashed gray;
    border-radius: 20px;
    padding: 2%;
    margin-top: 50px;
}
section#kontakt3 h3{
    text-align: center;
    background-color: darkgray;
    border-radius: 100px;
    font-weight: bold;
    font-variant: small-caps;
}
section#pildigalerii{
    width: 20%;
    margin-top: 50px;
}
section#pildigalerii h3{
    text-align: center;
    background-color: darkgray;
    border-radius: 100px;
    font-weight: bold;
    font-variant: small-caps;
}

section#video{
    width: 20%;
    padding: 2%;
    margin-top: 50px;
}
section#video h3{
    text-align: center;
    background-color: darkgray;
    border-radius: 100px;
    font-weight: bold;
    font-variant: small-caps;
}

section#muusika{
    width: 20%;
    padding: 2%;
    margin-top: 50px;
}
section#muusika h3{
    text-align: center;
    background-color: darkgray;
    border-radius: 100px;
    font-weight: bold;
    font-variant: small-caps;
}

section#kaart{
    width: 20%;
    padding: 2%;
    margin-top: 50px;
}
section#kaart h3{
    text-align: center;
    background-color: darkgray;
    border-radius: 100px;
    font-weight: bold;
    font-variant: small-caps;
}
